<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container border-bottom">
        <a class="navbar-brand" href="{% url 'blog-index' %}">
            <img src="/media/imageLogo.png"
            alt="Bootstrap" width="30" height="24">
          </a>
        <a class="navbar-brand text-red" href="{% url 'blog-index' %}">BlogSKA</a>
        {% if request.user.is_authenticated %}
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation ">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'users-profile' %}">Profile <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'users-logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active text-white border m-1">
                    <a class="nav-link btn btn-outline-dark" href="{% url 'users-sign-up' %}">Sign Up <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item border m-1 ml-3">
                    <a class="nav-link text-white btn btn-outline-dark" href="{% url 'users-login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>